
genome: 'reference/genome.fa'
genome_lengths: 'reference/genome.lengths'
refseq: 'reference/refseq180404'
genes_mmr: 'cfg/genes.mmr.txt'
cosmic: 'reference/cosmic180407.tsv'
cancer_type: 'prostate'
slop: 1000
callers: [
  'varscan',
  'varscan_indel',
  'gridss'
]
msi_callers: [
  'varscan_indel',
  'gridss'
]
samples: [
  SAMPLES
]
